
.container {
  max-width:1024px;
  margin:0 auto;
  
}
.container > div {
  float:left;
  padding-right:20px;
}
.ingredients {
  width:37%;
  margin-right:3%;

}

/* .instructions {
  width:60%;
} */

ul {
list-style: none;
}

